body {
    width: 200px;
    padding: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  