{% extends 'outfitwiz_app/base.html' %}

{% block content %}
    <div>
        <h3>Product</h3>
        <p>Our product is very easy to use. There are three steps that you need to follow! You need to 1 Upload a photo of yourself, 2 Upload a photo of the clothing item you want to try on, and 3 Press try on now!</p>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="drop-target">
                <p>Upload a photo of yourself</p>
                <input type="file" name="photo1" accept="image/*">
            </div>
            <div class="drop-target">
                <p>Upload a photo of a piece of clothing</p>
                <input type="file" name="photo2" accept="image/*">
            </div>
            <button id="try-on-button" type="submit">Try on Now!</button>
        </form>
    </div>
    {% if photo1_dir and photo2_dir %}
        <div>
            <h4>Uploaded Person Image:</h4>
            <img class="image-container" src={{photo1_dir}}>
            <h4>Uploaded Clothing Image:</h4>
            <img class="image-container" src={{photo2_dir}}>
            <h4>New Image:</h4>
            <img class="image-container" src={{photo3_dir}}>
        </div>
    {% endif %}
{% endblock %}