<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPACE MAPS</title>
    <link rel="stylesheet" type="text/css" href="/static/outfitwiz_app/css/stylesheet1.css">
</head>

<body>

    <div class="title-area">
        <h1>
            Title H1
        </h1>
    
        <h3>
            Title H3
        </h3>
    </div>

    <div class="main-area">
        <div class="text-area">
            <h4>
                Title H4
            </h4>
            <p>
                Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
            </p>
        </div>
        <div class="text-area">
            <h4>
                Title H4
            </h4>
            <p>
                Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
            </p>
        </div>
        <div class="text-area">
            <h4>
                Title H4
            </h4>
            <p>
                Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
            </p>
        </div>
        

    </div>
    
</body>

</html>
